.h1{
    color: rgb(4, 250, 86);
    font: bold;
    font-size: 15px;
    text-align:center;
    border-style: inset;
    border-color: black;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
}
.h1:hover{
    background-color:seagreen;
}

.p1{
    color:rgb(10, 206, 241);
    word-spacing: 3px;
    letter-spacing: 0ch;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
}
.p1::first-letter{
    font-size: xx-large;
}
.p1:hover{ 
    background-color:seagreen;
    
}

.p2{
    color: rgb(10, 247, 10);
    font: bold;
    font-size: 17px;
    text-decoration: underline;
}
.button{
    background-color:solid;
    border-radius: 30px;
}
.button:hover{
    opacity: 1;
}

.social-media{
    background-color:black;
    text-align: center;
    box-sizing: border-box;

}
.btn{
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    text-align: center;
    
    
}
.tooltip{
    position: relative;
}
.tooltip .tooltip-text{
    width: 150px;
    background-color: rgb(49, 49, 230);
    position:absolute;
    color: white;
    padding: 10px;
    top: 35px;
    z-index: 1;
    visibility: hidden;
}
.tooltip:hover .tooltip-text{
 visibility: visible;
}
.tooltip .tooltip-text-two{
    width: 150px;
    background-color: red;
    position:absolute;
    color:black;
    padding: 10px;
    top: 35px;
    z-index: 1;
    visibility: hidden;
}
.tooltip:hover .tooltip-text-two{
    visibility: visible;
   }

   .tooltip .tooltip-text-three{
    width: 150px;
    background-color:blue;
    position:absolute;
    color:black;
    padding: 10px;
    top: 35px;
    z-index: 1;
    visibility: hidden;

   }
   .tooltip:hover .tooltip-text-three{
    visibility: visible;
   }
.wrapper{
    background-color:gray;
}
.wrapper h1{
    text-align: center;
    font-family:cursive;
    font-size: 52px;
}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content:space-around;
    
}
.team .team_supervisor{
  background-color:tomato;
  flex-wrap: wrap;
  width: 300px;

}

.team .team_members{
    background-color:purple;
    width: 300px;
   
}
.team .team_supervisor p.role{
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    margin:2px 0px;
}
.team .team_members p.role{
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    margin:2px 0px;
}
.team .team_supervisor .supervisor_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50%;
    left:50%;
    padding: 10px;
    
}
.team .team_members .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50%;
    left:50%;
    padding: 10px;   
}

.git{
   background-color:seagreen;
   text-align: center;
   color:powderblue;
   border-radius: 10px;
   padding: 20px 10px 20px;
}
.h::after{
    content: "git";
    font-size:30px;
    background-color:rgb(152, 211, 14);
    font-style: italic;
}